body {
    /*APlico el mismo diseño que los otros template */
    background-image: url("https://wallpapers.com/images/hd/pouring-martini-cocktail-on-glass-e8dyoylw4pof6prw.jpg");
    background-color: rgb(73, 207, 140);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    margin: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dejo lo mismo en el titulo*/
h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color:white;
    font-style:normal;
    text-align: center;
}

.registro-section {
    
    background-color:rgba(221, 215, 213, 0.1); 
    padding: 3em;
    border-radius: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;

}

input {
    height: 2.5em;
    width: 100%;
    padding: 0.5%;
    border-radius: 5px;
    
}