body {
    background-image: url("https://wallpapers.com/images/hd/pouring-martini-cocktail-on-glass-e8dyoylw4pof6prw.jpg");
    background-color: rgb(246, 248, 247);
    background-size: cover;
    background-position: center;
    height: 85vh;
    color: white;
    margin: 40px;
}

h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color:white;
    font-style: italic;
}

.reservas-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea arriba */
    padding-top: 0px; 
    height: 100vh;
} 

form {
    border: 2px solid white;
    padding: 40px;
    margin-bottom: 20px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 5px 10px red;
    border-radius: 10px;
}

form input,
form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid white;
}

form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    font-style: italic;
}

form button:hover {
    background-color: rgb(224, 224, 156);
}

